//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Nav         1
#define Sym         2
#define Fun         3
#define Game        4
#define Gameplus    5

&mt {
    quick-tap-ms = <190>;
    global-quick-tap;
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
};

&lt {
    tapping-term-ms = <200>;
    flavor = "hold-preferred";
    quick-tap-ms = <190>;
};

/ {
    #include "secret_macro.overlay"

    behaviors {
        macro_because: macro_because {
            compatible = "zmk,behavior-macro";
            label = "MACRO_BECAUSE";
            #binding-cells = <0>;
            bindings = <&kp E &kp C &kp A &kp U &kp S &kp E>;
        };

        macro_ng: macro_ng {
            compatible = "zmk,behavior-macro";
            label = "MACRO_NG";
            #binding-cells = <0>;
            bindings = <&kp N &kp G>;
        };

        // Define the adaptive repeat key behavior

        magic_repeat: magic_repeat {
            compatible = "zmk,behavior-antecedent-morph";
            label = "MAGIC_REPEAT";
            #binding-cells = <0>;

            // Default behavior - repeat the last key

            defaults = <&key_repeat>;
            antecedents = <SQT G U W Y R>;
            bindings = <&kp R &kp S &kp E &kp H &kp COMMA &kp L>;

            // Maximum delay to consider the antecedent

            max-delay-ms = <5000>;
        };

        magic_repeat_l: magic_repeat_l {
            compatible = "zmk,behavior-antecedent-morph";
            label = "MAGIC_REPEAT_L";
            #binding-cells = <0>;

            defaults = <&key_repeat>;
            antecedents = <S P>;
            bindings = <&kp C &kp T>;
            max-delay-ms = <5000>;
        };

    combos {
        compatible = "zmk,combos";

        Del {
            bindings = <&kp DEL>;
            key-positions = <0 1>;
        };

        Lang {
            bindings = <&kp CAPSLOCK>;
            key-positions = <2 13>;
        };

        Capture_full_screen {
            bindings = <&kp KP_PLUS>;
            key-positions = <9 31>;
        };

        Tri-layer {
            bindings = <&mo 4>;
            key-positions = <33 36>;
        };
    };

    macros {
        QU: QU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Q &kp U>;
            label = "QU";
        };

        Remnote_arrow: Remnote_arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GREATER_THAN &kp GREATER_THAN>;
            label = "REMNOTE_ARROW";
        };

        ahahahah: ahahahah {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LBKT &kp F>;
            label = "AHAHAHAH";
        };

        space_comma: space_comma {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp KP_DOT &kp SPACE>;
            label = "SPACE_COMMA";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        QWERTY {
            display-name = "Qwerty";
            bindings = <
               &kp Q  &kp W  &kp E            &kp R      &kp T         &kp Y       &kp U       &kp I          &kp O    &kp P
               &kp A  &kp S  &kp D            &kp F      &kp G         &kp H       &kp J       &kp K          &kp L    &kp SEMICOLON
&mt LSHFT ESC  &kp Z  &kp X  &kp C            &kp V      &kp B         &kp N       &kp M       &kp COMMA      &kp DOT  &kp SLASH      &kp APOSTROPHE
                             &mt LCTRL ENTER  &kp SPACE  &lt 3 BSPC    &sk LSHIFT  &lt 2 BSPC  &mt LCTRL TAB
            >;
        };

        Whirl_mod {
            display-name = "Whirl";
            bindings = <
     &mt LEFT_SHIFT ESCAPE  &kp G  &kp D            &kp F      &kp K              &kp SQT          &kp J          &kp SEMICOLON  &kp PERIOD  &kp SLASH
     &kp N                  &kp S  &kp T            &kp H      &kp M              &kp V            &kp R          &kp E          &kp A       &kp I
&magic_repeat_l  &kp B                  &kp C  &kp P            &kp W      &kp Z              &kp X            &kp L          &kp U          &kp O       &kp Y      &kp COMMA
                                   &mt LCTRL ENTER  &kp SPACE  &lt 3 BACKSPACE    &lt 2 BACKSPACE  &magic_repeat  &sk LSHIFT
            >;
        };

        Nav {
            display-name = "Nav";
            bindings = <
           &Remnote_arrow  &kp HOME     &kp UP_ARROW  &kp END            &kp LBRC    &kp RBRC  &trans        &trans         &trans          &kp RIGHT_BRACKET
           &kp DEL         &kp LEFT     &kp DOWN      &kp RIGHT          &kp LBKT    &kp RBKT  &space_comma  &magic_repeat_l         &QU          &kp LEFT_BRACKET
&kp TILDE  &kp LEFT_WIN    &kp LS(TAB)  &kp TAB       &kp LC(BACKSPACE)  &kp LPAR    &kp RPAR  &none         &kp RA(COMMA)  &kp RA(PERIOD)  &kp RA(MINUS)      &kp PRINTSCREEN
                                        &trans        &trans             &trans      &trans    &trans        &trans
            >;
        };

        Sym {
            display-name = "Sym";
            bindings = <
           &kp EXCL      &kp AT        &kp HASH      &kp DOLLAR     &kp PERCENT     &kp CARET       &kp AMPERSAND  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS
           &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4   &kp NUMBER_5    &kp NUMBER_6    &kp NUMBER_7   &kp NUMBER_8  &kp NUMBER_9          &kp NUMBER_0
&kp TILDE  &kp GRAVE     &kp LS(TAB)   &kp TAB       &kp LS(LC(V))  &kp PIPE        &kp UNDERSCORE  &kp MINUS      &kp EQUAL     &kp LS(SLASH)         &kp BACKSLASH          &kp PLUS
                                       &trans        &trans         &trans          &trans          &trans         &trans
            >;
        };

        Tri-layer {
            bindings = <
        &kp F6  &kp F7  &kp F8  &kp F9     &kp F10          &none   &kp F11  &kp F12  &kp F13  &kp F14
        &none   &none   &none   &ahahahah  &secret_macro    &tog 1  &none    &none    &none    &none
&trans  &kp F1  &kp F2  &kp F3  &kp F4     &kp F5           &tog 5  &trans   &trans   &trans   &trans   &trans
                        &trans  &trans     &trans           &trans  &trans   &trans
            >;
        };

        Gaming {
            bindings = <
        &trans   &trans  &kp NUMBER_3  &trans        &trans          &trans  &trans  &trans  &trans  &trans
        &kp ESC  &kp Q   &kp W         &kp E         &kp R           &tog 0  &trans  &trans  &trans  &trans
&trans  &trans   &trans  &trans        &kp TAB       &trans          &trans  &trans  &trans  &trans  &trans  &trans
                         &trans        &kp NUMBER_1  &kp LEFT_ALT    &trans  &trans  &trans
            >;
        };
    };
};
