# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_TOTEM_LEFT || SHIELD_TOTEM_RIGHT || SHIELD_TOTEM_DONGLE

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

config ZMK_BEHAVIOR_BOOTLOADER_NRF
    default y

config BEHAVIOR_BOOTLOADER_NRF_MODE_UF2
    default y

endif

# Dongle-specific config moved to totem_dongle.conf